.banner{
    width: 500px;
    height: 180px;
    border-bottom-left-radius: 20px;
}
.carrossel{
    width: 500px;
    height: 180px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
}
.conteudoSlide{
    display: flex;
    transition: .4s ease-in-out;
}
.conteudoSlide > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}
@media (max-width:1000px){
    .carrossel{
        border-bottom-left-radius: 0px !important;
        width: 100% !important;
        height: 300px;
    }
}
@media (max-width:500px){
    .carrossel{
        width: 100% !important;
        height: 200px !important;
    }
}